/* You can add global styles to this file, and also import other style files */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: linear-gradient(to bottom right, rgb(243, 103, 103), rgb(175, 67, 67));
}

body {
    font-family: sans-serif, Arial, Helvetica, sans-serif;
}