<div class="page-container">
    <div class="box-container" [formGroup]="form">
        <div class="page-title">Secret Santa</div>
        <div class="round-input">
            <span class="icon icon-person"></span>
            <input type="text" placeholder="Nume" formControlName="name">
        </div>
        <div class="round-input">
            <span class="icon icon-email"></span>
            <input type="text" placeholder="E-mail" formControlName="email">
        </div>
        <button (click)="submit()">Start</button>
    </div>
</div>
